@page
@{
    ViewData["Title"] = "Om sidan";
}

<h2> Om sidan </h2>
<p>Den här webbplatsen utgör grunden för moment 1.2 i kursen ASP.NET Core</p>
<p>Jag som skapat den heter Joakim Rosqvist och läser sista året på webbutvecklingsprogrammet vid Mittuniversitetet</p>
