@page
@{
    ViewData["Title"] = "Startsidan";
}

<h2> Startsidan </h2>
<p> Den här webbplatsen utgör moment 1.2 i kursen ASP.NET Core</p>
<p> Uppgiften går ut på att skapa dynamiska webbsidor med hjälp av Razor Pages</p>